<div class="wgtv-list-container">
    <h3>WG TV</h3>
    <div class="row">
        <div class="col-xs-3">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let proj of projects$ | async" (click)="selectProject(proj)">
                    <a href="javascript:void(0)">{{proj.name}}</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let cat of categories$ | async" (click)="selectCategory(cat)">
                    <a href="javascript:void(0)">{{cat.name}}</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let prog of programs$ | async" (click)="selectProgram(prog)">
                    <a href="javascript:void(0)">{{prog.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div *ngIf="!(list$ | async).busy;else busy">
                <div *ngFor="let item of (list$ | async).list">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" [src]="item.thumbnails.default.url" [alt]="item.title">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{item.title}}</h4>
                            {{item.description}}
                            <p>
                                <a target="_blank" href="{{item.video_url}}">{{item.video_id}}</a>
                            </p>
                        </div>
                    </div>
                    <p>
                    </p>
                </div>
                <span *ngIf="state.list.length<=0 && !state?.busy" class="alert alert-warning">Нет данных удовлетворяющих выбранным критериям</span>
                <pager-component [total]="(list$ | async).pages" (onCurrent)="selectPage($event)"></pager-component>
                Total: {{(list$ | async).total}}
            </div>
            <ng-template #busy>
                <spinner [busy]="true"></spinner>
            </ng-template>
        </div>
    </div>
</div>
